body{
	margin:0;
	padding:0;
	background-color:#f5f8fa;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
p, form, h1, h2, h3, h4, h5, h6, ul, li{
	margin:0;
	padding:0;
	list-style:none;
}

/* header */
header{
	width:100%;
	height:46px;
	background-color:#fff;
	border-bottom:1px solid #cacaca;
	box-sizing: border-box;
}
	header .container{
		width:900px;
		margin:0 auto;
	}
	header nav{
		float:left;
	}
		header nav li{
			box-sizing: border-box;
			float:left;
			height:46px;
			padding:15px;
			font-size:15px;
			color:#777;
			font-weight:bold;
			transition: border 0.2s;
		}
			header nav li:hover{
				color:#0084b4;
				border-bottom:4px solid #0084b4;
				cursor:pointer;
			}
			header nav li.current-menu{
				border-bottom:4px solid #0084b4;
			}
			header nav li i{
				vertical-align:middle;
			}

	header h1{
		width:20px;
		height:20px;
		margin:0px auto;
		padding-top:10px;
		font-size:25px;
		color:#55acee
	}

/* main */
main{
	clear:both;
	width:900px;
	margin:10px auto;
}
	main::after{
		content:" ";
		clear:both;
		display:block;
	}
	/* my profile section */
	section#profile{
		box-sizing: border-box;
		width:290px;
		height:200px;
		background:#fff;
		float:left;
		margin-right:10px;
	}
		section#profile .profile-header{
			width:290px;
			height:100px;
			background:#0084b4;
			border-radius: 5px 5px 0px 0px;
		}
		section#profile .profile-box{
			width:290px;
			height:100px;
			box-sizing: border-box;
			border:1px solid #cacaca;
			border-radius: 0px 0px 5px 5px;
		}
			section#profile .profile-img{
				width:69px;
				height:69px;
				border:3px solid #fff;
				border-radius: 5px;
				margin:-30px 10px 0px 8px;
				float:left;
			}
				section#profile .profile-img img{
					box-sizing: border-box;
					border-radius: 5px;
					width:69px;
					height:69px;
				}

			section#profile .profile-name{
				font-size:20px;
				margin-top:5px;
			}
			section#profile .profile-id{
				font-size:12px;
				color:#66757f;
			}

			section#profile .profile-stat{
				clear:both;
			}
				section#profile .profile-stat li{
					float:left;
					padding:8px 10px;
					text-align:left;
				}
				section#profile .profile-stat li h3{
					font-size:12px;
					font-weight:normal;
					color:#999;
				}
				section#profile .profile-stat li span{
					font-size:16px;
					font-weight:bold;
					color:#0084b4;
				}

				section#profile .profile-stat li.stat-tweets{
					width:60px;
				}



	/* timeline section */
	section#timeline{
		box-sizing: border-box;
		width:590px;
		float:left;		
	}

		/* tweet form */
		#tweet-form-box{
			box-sizing: border-box;
			width:590px;
			border-radius: 5px 5px 0px 0px;
			background:#CCE7F0;
			border:1px solid #9AC7D6;
			padding:10px 12px 10px 25px;
		}
			#tweet-form-box .profile-img{
				width:34px;
				height:34px;
				border-radius:5px;
				float:left;
			}
			#tweet-form-box #tweet-content{
				box-sizing: border-box;
				width:505px;
				height:35px;
				border-radius: 5px;
				margin-left:10px;
				padding:8px;
				font-size:14px;
				border:1px solid #9AC7D6;
			}
			#tweet-form-box .form-btn-box{
				display:none;
			}

			/* focusing */
			#tweet-form-box.focus #tweet-content{
				height:100px;
			}
			#tweet-form-box.focus .form-btn-box{
				display:block;
				text-align:right;
				margin-top:5px;
			}

			#tweet-form-box.focus #tweet-btn{
				padding:10px 15px;
				margin-left:10px;
				background:#9AC7D6;
				color:#fff;
				border-radius:3px;
				border:none;
				font-size:15px;
			}

				#tweet-form-box #tweet-btn.active{
					background:#0A9CD1;
					cursor:pointer;
				}
					#tweet-form-box #tweet-btn.active:hover{
						background:#0084b4;
					}

			#tweet-form-box.focus .word-num{
				font-size:15px;
				color:#999;
			}

		/* article */
		section#timeline article{
			box-sizing: border-box;
			background:#fff;
			width:590px;
			border:1px solid #cacaca;
			border-top:none;
			padding:10px;
		}
			section#timeline article.temp{
				display:none;
			}
			section#timeline article:hover{
				background:#f5f8fa;
			}

			section#timeline article.focus{
				margin:10px 0px;
				border:1px solid #cacaca;
				border-radius:5px;
			}

			section#timeline article .profile-img{
				width:50px; height:50px;
				border-radius: 5px;
				float:left;
			}
			section#timeline article .tweet-box{
				float:left;
				margin-left:10px;
			}
				section#timeline article .profile-name{
					font-weight:bold;
					font-size:14px;
				}
				section#timeline article .regdate{
					color:#999;
					font-size:13px;
				}
				section#timeline article .regdate::before{
					content:"· ";
				}
				section#timeline article .tweet-content{
					font-size:14px;
					margin-bottom:10px;
					width:500px;
				}

				section#timeline article .btn-list li{
					float:left;
					font-size:14px;
					width:70px;
					color:#ccc;
					cursor:pointer;
				}
					section#timeline article .btn-list li.btn-reply:hover{
						color:#2B23BC;
					}
					section#timeline article .btn-list li.btn-retweet:hover,section#timeline article .btn-list li.retweet-this{
						color:#499E49;
					}
					section#timeline article .btn-list li.btn-favorit:hover,section#timeline article .btn-list li.favorit-this{
						color:#F2B31F;
					}

					section#timeline article .btn-list li i{
						margin-right:5px;
					}

					section#timeline article .btn-list li span{
						font-weight:bold;
						font-size:12px;
						color:#888;
					}

			section#timeline article::after{
				content:" ";
				clear:both;
				display:block;
			}

		section#timeline div.footer{
			box-sizing: border-box;
			width:590px;
			padding:10px;
			background:#fff;
			border:1px solid #cacaca;
			border-top:none;
			border-radius: 0px 0px 5px 5px;
			color:#999;
			font-size:20px;
			text-align:center;
		}


